@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: light;

        /**
           * @tokens FontFamily
           * @presenter FontFamily
          */
        --p-font-family-sans: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
        --p-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;


        /**
           * @tokens BorderRadius
           * @presenter BorderRadius
          */
        --p-border-radius-0: 0rem;
        --p-border-radius-050: 0.125rem;
        --p-border-radius-100: 0.25rem;
        --p-border-radius-150: 0.375rem;
        --p-border-radius-200: 0.5rem;
        --p-border-radius-300: 0.75rem;
        --p-border-radius-400: 1rem;
        --p-border-radius-500: 1.25rem;
        --p-border-radius-750: 1.875rem;
        --p-border-radius-full: 100%;


        /**
           * @tokens Border
           * @presenter Border
          */
        --p-border-width-0: 0rem;
        --p-border-width-0165: 0.04125rem;
        --p-border-width-025: 0.0625rem;
        --p-border-width-050: 0.125rem;
        --p-border-width-100: 0.25rem;


        /*!***/
        /* * @tokens Breakpoint*/
        /* * @presenter Breakpoint*/
        /* *!*/
        --p-breakpoints-xs: 0rem;
        --p-breakpoints-sm: 30.625rem;
        --p-breakpoints-md: 48rem;
        --p-breakpoints-lg: 65rem;
        --p-breakpoints-xl: 90rem;

        /**
         * @tokens Color
         * @presenter Color
         */
        --p-color-bg: #f1f1f1;
        --p-color-bg-inverse: #1a1a1a;
        --p-color-bg-surface: #fff;
        --p-color-bg-surface-hover: #f7f7f7;
        --p-color-bg-surface-active: #f3f3f3;
        --p-color-bg-surface-selected: var(--p-color-bg);
        --p-color-bg-surface-disabled: rgba(0, 0, 0, .05);
        --p-color-bg-surface-secondary: var(--p-color-bg-surface-hover);
        --p-color-bg-surface-secondary-hover: var(--p-color-bg);
        --p-color-bg-surface-secondary-active: #ebebeb;
        --p-color-bg-surface-secondary-selected: var(--p-color-bg-surface-secondary-active);
        --p-color-bg-surface-tertiary: var(--p-color-bg-surface-active);
        --p-color-bg-surface-tertiary-hover: var(--p-color-bg-surface-secondary-active);
        --p-color-bg-surface-tertiary-active: #e3e3e3;
        --p-color-bg-surface-brand: var(--p-color-bg-surface-tertiary-active);
        --p-color-bg-surface-brand-hover: var(--p-color-bg-surface-secondary-active);
        --p-color-bg-surface-brand-active: var(--p-color-bg);
        --p-color-bg-surface-brand-selected: var(--p-color-bg);
        --p-color-bg-surface-info: #eaf4ff;
        --p-color-bg-surface-info-hover: #e0f0ff;
        --p-color-bg-surface-info-active: #cae6ff;
        --p-color-bg-surface-success: #cdfed4;
        --p-color-bg-surface-success-hover: #affebf;
        --p-color-bg-surface-success-active: #92fcac;
        --p-color-bg-surface-caution: #fff8db;
        --p-color-bg-surface-caution-hover: #fff4bf;
        --p-color-bg-surface-caution-active: #ffef9d;
        --p-color-bg-surface-warning: #fff1e3;
        --p-color-bg-surface-warning-hover: #ffebd5;
        --p-color-bg-surface-warning-active: #ffe4c6;
        --p-color-bg-surface-critical: #fee8eb;
        --p-color-bg-surface-critical-hover: #fee1e6;
        --p-color-bg-surface-critical-active: #fed9df;
        --p-color-bg-surface-emphasis: #f0f2ff;
        --p-color-bg-surface-emphasis-hover: #eaedff;
        --p-color-bg-surface-emphasis-active: #e2e7ff;
        --p-color-bg-surface-magic: #f8f7ff;
        --p-color-bg-surface-magic-hover: #f3f1ff;
        --p-color-bg-surface-magic-active: #e9e5ff;
        --p-color-bg-surface-inverse: #303030;
        --p-color-bg-surface-transparent: transparent;
        --p-color-bg-fill: var(--p-color-bg-surface);
        --p-color-bg-fill-hover: #fafafa;
        --p-color-bg-fill-active: var(--p-color-bg-surface-hover);
        --p-color-bg-fill-selected: #ccc;
        --p-color-bg-fill-disabled: var(--p-color-bg-surface-disabled);
        --p-color-bg-fill-secondary: var(--p-color-bg);
        --p-color-bg-fill-secondary-hover: var(--p-color-bg-surface-secondary-active);
        --p-color-bg-fill-secondary-active: var(--p-color-bg-surface-tertiary-active);
        --p-color-bg-fill-secondary-selected: var(--p-color-bg-surface-tertiary-active);
        --p-color-bg-fill-tertiary: var(--p-color-bg-surface-tertiary-active);
        --p-color-bg-fill-tertiary-hover: #d4d4d4;
        --p-color-bg-fill-tertiary-active: var(--p-color-bg-fill-selected);
        --p-color-bg-fill-brand: var(--p-color-bg-surface-inverse);
        --p-color-bg-fill-brand-hover: var(--p-color-bg-inverse);
        --p-color-bg-fill-brand-active: var(--p-color-bg-inverse);
        --p-color-bg-fill-brand-selected: var(--p-color-bg-surface-inverse);
        --p-color-bg-fill-brand-disabled: rgba(0, 0, 0, .17);
        --p-color-bg-fill-info: #91d0ff;
        --p-color-bg-fill-info-hover: #51c0ff;
        --p-color-bg-fill-info-active: #0094d5;
        --p-color-bg-fill-info-secondary: #d5ebff;
        --p-color-bg-fill-success: #047b5d;
        --p-color-bg-fill-success-hover: #035e4c;
        --p-color-bg-fill-success-active: #014b40;
        --p-color-bg-fill-success-secondary: var(--p-color-bg-surface-success-hover);
        --p-color-bg-fill-warning: #ffb800;
        --p-color-bg-fill-warning-hover: #e5a500;
        --p-color-bg-fill-warning-active: #b28400;
        --p-color-bg-fill-warning-secondary: #ffd6a4;
        --p-color-bg-fill-caution: #ffe600;
        --p-color-bg-fill-caution-hover: #ead300;
        --p-color-bg-fill-caution-active: #e1cb00;
        --p-color-bg-fill-caution-secondary: #ffeb78;
        --p-color-bg-fill-critical: #c70a24;
        --p-color-bg-fill-critical-hover: #a30a24;
        --p-color-bg-fill-critical-active: #8e0b21;
        --p-color-bg-fill-critical-selected: var(--p-color-bg-fill-critical-active);
        --p-color-bg-fill-critical-secondary: #fed1d7;
        --p-color-bg-fill-emphasis: #005bd3;
        --p-color-bg-fill-emphasis-hover: var(--p-color-border-emphasis-hover);
        --p-color-bg-fill-emphasis-active: var(--p-color-border-emphasis-active);
        --p-color-bg-fill-magic: #8051ff;
        --p-color-bg-fill-magic-secondary: var(--p-color-bg-surface-magic-active);
        --p-color-bg-fill-magic-secondary-hover: #e4deff;
        --p-color-bg-fill-magic-secondary-active: #dfd9ff;
        --p-color-bg-fill-inverse: var(--p-color-bg-surface-inverse);
        --p-color-bg-fill-inverse-hover: #4a4a4a;
        --p-color-bg-fill-inverse-active: #616161;
        --p-color-bg-fill-transparent: rgba(0, 0, 0, .02);
        --p-color-bg-fill-transparent-hover: var(--p-color-bg-surface-disabled);
        --p-color-bg-fill-transparent-active: rgba(0, 0, 0, .08);
        --p-color-bg-fill-transparent-selected: var(--p-color-bg-fill-transparent-active);
        --p-color-bg-fill-transparent-secondary: rgba(0, 0, 0, .06);
        --p-color-bg-fill-transparent-secondary-hover: var(--p-color-bg-fill-transparent-active);
        --p-color-bg-fill-transparent-secondary-active: rgba(0, 0, 0, .11);
        --p-color-text: var(--p-color-bg-surface-inverse);
        --p-color-text-secondary: var(--p-color-bg-fill-inverse-active);
        --p-color-text-disabled: #b5b5b5;
        --p-color-text-link: var(--p-color-bg-fill-emphasis);
        --p-color-text-link-hover: var(--p-color-border-emphasis-hover);
        --p-color-text-link-active: var(--p-color-border-emphasis-active);
        --p-color-text-brand: var(--p-color-bg-fill-inverse-hover);
        --p-color-text-brand-hover: var(--p-color-bg-surface-inverse);
        --p-color-text-brand-on-bg-fill: var(--p-color-bg-surface);
        --p-color-text-brand-on-bg-fill-hover: var(--p-color-bg-surface-tertiary-active);
        --p-color-text-brand-on-bg-fill-active: var(--p-color-bg-fill-selected);
        --p-color-text-brand-on-bg-fill-disabled: var(--p-color-bg-surface);
        --p-color-text-info: #003a5a;
        --p-color-text-info-hover: var(--p-color-text-info);
        --p-color-text-info-active: #002133;
        --p-color-text-info-secondary: #007cb4;
        --p-color-text-info-on-bg-fill: var(--p-color-text-info-active);
        --p-color-text-success: var(--p-color-bg-fill-success-active);
        --p-color-text-success-hover: #073630;
        --p-color-text-success-active: #022622;
        --p-color-text-success-secondary: var(--p-color-bg-fill-success);
        --p-color-text-success-on-bg-fill: #fafffb;
        --p-color-text-caution: #4f4700;
        --p-color-text-caution-hover: #332e00;
        --p-color-text-caution-active: #1f1c00;
        --p-color-text-caution-secondary: #827500;
        --p-color-text-caution-on-bg-fill: var(--p-color-text-caution-hover);
        --p-color-text-warning: #5e4200;
        --p-color-text-warning-hover: #412d00;
        --p-color-text-warning-active: #251a00;
        --p-color-text-warning-secondary: #956f00;
        --p-color-text-warning-on-bg-fill: var(--p-color-text-warning-active);
        --p-color-text-critical: var(--p-color-bg-fill-critical-active);
        --p-color-text-critical-hover: #5f0716;
        --p-color-text-critical-active: #2f040b;
        --p-color-text-critical-secondary: var(--p-color-bg-fill-critical);
        --p-color-text-critical-on-bg-fill: #fffafb;
        --p-color-text-emphasis: var(--p-color-bg-fill-emphasis);
        --p-color-text-emphasis-hover: var(--p-color-border-emphasis-hover);
        --p-color-text-emphasis-active: var(--p-color-border-emphasis-active);
        --p-color-text-emphasis-on-bg-fill: #fcfdff;
        --p-color-text-emphasis-on-bg-fill-hover: var(--p-color-bg-surface-emphasis-active);
        --p-color-text-emphasis-on-bg-fill-active: #d5dcff;
        --p-color-text-magic: #5700d1;
        --p-color-text-magic-secondary: #7126ff;
        --p-color-text-magic-on-bg-fill: #fdfdff;
        --p-color-text-inverse: var(--p-color-bg-surface-tertiary-active);
        --p-color-text-inverse-secondary: var(--p-color-text-disabled);
        --p-color-text-link-inverse: #c5d0ff;
        --p-color-border: var(--p-color-bg-surface-tertiary-active);
        --p-color-border-hover: var(--p-color-bg-fill-selected);
        --p-color-border-disabled: var(--p-color-bg-surface-secondary-active);
        --p-color-border-secondary: var(--p-color-bg-surface-secondary-active);
        --p-color-border-tertiary: var(--p-color-bg-fill-selected);
        --p-color-border-focus: var(--p-color-bg-fill-emphasis);
        --p-color-border-brand: var(--p-color-bg-surface-tertiary-active);
        --p-color-border-info: #a8d8ff;
        --p-color-border-success: var(--p-color-bg-surface-success-active);
        --p-color-border-caution: var(--p-color-bg-fill-caution-secondary);
        --p-color-border-warning: #ffc879;
        --p-color-border-critical: #fec1c7;
        --p-color-border-critical-secondary: var(--p-color-bg-fill-critical-active);
        --p-color-border-emphasis: var(--p-color-bg-fill-emphasis);
        --p-color-border-emphasis-hover: #004299;
        --p-color-border-emphasis-active: #002e6a;
        --p-color-border-magic: var(--p-color-bg-fill-magic-secondary-hover);
        --p-color-border-magic-secondary: #9474ff;
        --p-color-border-magic-secondary-hover: var(--p-color-bg-fill-magic);
        --p-color-border-inverse: var(--p-color-bg-fill-inverse-active);
        --p-color-border-inverse-hover: var(--p-color-bg-fill-selected);
        --p-color-border-inverse-active: var(--p-color-bg-surface-tertiary-active);
        --p-color-tooltip-tail-down-border: var(--p-color-bg-fill-tertiary-hover);
        --p-color-tooltip-tail-up-border: var(--p-color-bg-surface-tertiary-active);
        --p-color-icon: var(--p-color-bg-fill-inverse-hover);
        --p-color-icon-hover: var(--p-color-bg-surface-inverse);
        --p-color-icon-active: var(--p-color-bg-inverse);
        --p-color-icon-disabled: var(--p-color-bg-fill-selected);
        --p-color-icon-secondary: #8a8a8a;
        --p-color-icon-secondary-hover: var(--p-color-bg-fill-inverse-active);
        --p-color-icon-secondary-active: var(--p-color-bg-fill-inverse-hover);
        --p-color-icon-brand: var(--p-color-bg-inverse);
        --p-color-icon-info: var(--p-color-bg-fill-info-active);
        --p-color-icon-success: var(--p-color-bg-fill-success);
        --p-color-icon-caution: #998a00;
        --p-color-icon-warning: var(--p-color-bg-fill-warning-active);
        --p-color-icon-critical: #e22c38;
        --p-color-icon-emphasis: var(--p-color-bg-fill-emphasis);
        --p-color-icon-emphasis-hover: var(--p-color-border-emphasis-hover);
        --p-color-icon-emphasis-active: var(--p-color-border-emphasis-active);
        --p-color-icon-magic: var(--p-color-bg-fill-magic);
        --p-color-icon-inverse: var(--p-color-bg-surface-tertiary-active);
        --p-color-avatar-bg-fill: var(--p-color-text-disabled);
        --p-color-avatar-five-bg-fill: #fd4b92;
        --p-color-avatar-five-text-on-bg-fill: #fff6f8;
        --p-color-avatar-four-bg-fill: var(--p-color-bg-fill-info-hover);
        --p-color-avatar-four-text-on-bg-fill: var(--p-color-text-info-active);
        --p-color-avatar-one-bg-fill: #c530c5;
        --p-color-avatar-one-text-on-bg-fill: #fdeffd;
        --p-color-avatar-seven-bg-fill: var(--p-color-border-magic-secondary);
        --p-color-avatar-seven-text-on-bg-fill: var(--p-color-bg-surface-magic);
        --p-color-avatar-six-bg-fill: #25e82b;
        --p-color-avatar-six-text-on-bg-fill: #033d05;
        --p-color-avatar-text-on-bg-fill: var(--p-color-bg-surface);
        --p-color-avatar-three-bg-fill: #2ce0d4;
        --p-color-avatar-three-text-on-bg-fill: #033c39;
        --p-color-avatar-two-bg-fill: #52f490;
        --p-color-avatar-two-text-on-bg-fill: var(--p-color-bg-fill-success-active);
        --p-color-backdrop-bg: rgba(0, 0, 0, .71);
        --p-color-button-gradient-bg-fill: linear-gradient(180deg, rgba(48, 48, 48, 0) 63.53%, hsla(0, 0%, 100%, .15));
        --p-color-checkbox-bg-surface-disabled: var(--p-color-bg-fill-transparent-active);
        --p-color-checkbox-icon-disabled: var(--p-color-bg-surface);
        --p-color-input-bg-surface: #fdfdfd;
        --p-color-input-bg-surface-hover: var(--p-color-bg-fill-hover);
        --p-color-input-bg-surface-active: var(--p-color-bg-surface-hover);
        --p-color-input-border: var(--p-color-icon-secondary);
        --p-color-input-border-hover: var(--p-color-bg-fill-inverse-active);
        --p-color-input-border-active: var(--p-color-bg-inverse);
        --p-color-nav-bg: var(--p-color-bg-surface-secondary-active);
        --p-color-nav-bg-surface: var(--p-color-bg-fill-transparent);
        --p-color-nav-bg-surface-hover: var(--p-color-bg);
        --p-color-nav-bg-surface-active: var(--p-color-bg-fill-hover);
        --p-color-nav-bg-surface-selected: var(--p-color-bg-fill-hover);
        --p-color-radio-button-bg-surface-disabled: var(--p-color-bg-fill-transparent-active);
        --p-color-radio-button-icon-disabled: var(--p-color-bg-surface);
        --p-color-video-thumbnail-play-button-bg-fill-hover: rgba(0, 0, 0, .81);
        --p-color-video-thumbnail-play-button-bg-fill: var(--p-color-backdrop-bg);
        --p-color-video-thumbnail-play-button-text-on-bg-fill: var(--p-color-bg-surface);


        /* !***/
        /* * @tokens Scrollbar */
        /* * @presenter Scrollbar */
        /**!*/
        --p-color-scrollbar-thumb-bg-hover: var(--p-color-icon-secondary);
        --p-color-scrollbar-thumb-bg: var(--p-color-text-disabled);


        /**
           * @tokens FontSize
           * @presenter FontSize
          */
        --p-font-size-275: 0.6875rem;
        --p-font-size-300: 0.75rem;
        --p-font-size-325: 0.8125rem;
        --p-font-size-350: 0.875rem;
        --p-font-size-400: 1rem;
        --p-font-size-450: 1.125rem;
        --p-font-size-500: 1.25rem;
        --p-font-size-550: 1.375rem;
        --p-font-size-600: 1.5rem;
        --p-font-size-750: 1.875rem;
        --p-font-size-800: 2rem;
        --p-font-size-900: 2.25rem;
        --p-font-size-1000: 2.5rem;


        /**
          * @tokens FontWeight
          * @presenter FontWeight
         */
        --p-font-weight-regular: 400;
        --p-font-weight-medium: 500;
        --p-font-weight-semibold: 600;
        --p-font-weight-bold: 700;


        /*!***/
        /*  * @tokens LetterSpacing */
        /*  * @presenter LetterSpacing */
        /* *!*/
        --p-font-letter-spacing-densest: -0.03375rem;
        --p-font-letter-spacing-denser: -0.01875rem;
        --p-font-letter-spacing-dense: -0.0125rem;
        --p-font-letter-spacing-normal: 0rem;


        /*!***/
        /*  * @tokens LineHeight */
        /*  * @presenter LineHeight */
        /* *!*/
        --p-font-line-height-300: 0.75rem;
        --p-font-line-height-400: 1rem;
        --p-font-line-height-500: 1.25rem;
        --p-font-line-height-600: 1.5rem;
        --p-font-line-height-700: 1.75rem;
        --p-font-line-height-800: 2rem;
        --p-font-line-height-1000: 2.5rem;
        --p-font-line-height-1200: 3rem;


        /* !***/
        /* * @tokens Height */
        /* * @presenter Height */
        /**!*/
        --p-height-0: 0rem;
        --p-height-025: 0.0625rem;
        --p-height-050: 0.125rem;
        --p-height-100: 0.25rem;
        --p-height-150: 0.375rem;
        --p-height-200: 0.5rem;
        --p-height-300: 0.75rem;
        --p-height-400: 1rem;
        --p-height-500: 1.25rem;
        --p-height-600: 1.5rem;
        --p-height-700: 1.75rem;
        --p-height-800: 2rem;
        --p-height-900: 2.25rem;
        --p-height-1000: 2.5rem;
        --p-height-1200: 3rem;
        --p-height-1600: 4rem;
        --p-height-2000: 5rem;
        --p-height-2400: 6rem;
        --p-height-2800: 7rem;
        --p-height-3200: 8rem;


        /*!***/
        /* * @tokens Shadow*/
        /* * @presenter Shadow*/
        /**!*/
        --p-shadow-0: none;
        --p-shadow-100: 0rem 0.0625rem 0rem 0rem rgba(26, 26, 26, .07);
        --p-shadow-200: 0rem 0.1875rem 0.0625rem -0.0625rem rgba(26, 26, 26, .07);
        --p-shadow-300: 0rem 0.25rem 0.375rem -0.125rem rgba(26, 26, 26, .2);
        --p-shadow-400: 0rem 0.5rem 1rem -0.25rem rgba(26, 26, 26, .22);
        --p-shadow-500: 0rem 0.75rem 1.25rem -0.5rem rgba(26, 26, 26, .24);
        --p-shadow-600: 0rem 1.25rem 1.25rem -0.5rem rgba(26, 26, 26, .28);
        --p-shadow-bevel-100: 0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, .13) inset, -0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, .13) inset, 0rem -0.0625rem 0rem 0rem rgba(0, 0, 0, .17) inset, 0rem 0.0625rem 0rem 0rem hsla(0, 0%, 80%, .5) inset;
        --p-shadow-inset-100: 0rem 0.0625rem 0.125rem 0rem rgba(26, 26, 26, .15) inset, 0rem 0.0625rem 0.0625rem 0rem rgba(26, 26, 26, .15) inset;
        --p-shadow-inset-200: 0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, .2) inset, 0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, .12) inset, -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, .12) inset;
        --p-shadow-button: 0rem -0.0625rem 0rem 0rem var(--p-color-text-disabled) inset, 0rem 0rem 0rem 0.0625rem rgba(0, 0, 0, .1) inset, 0rem 0.03125rem 0rem 0.09375rem #fff inset;
        --p-shadow-button-hover: 0rem 0.0625rem 0rem 0rem var(--p-color-bg-surface-secondary-active) inset, -0.0625rem 0rem 0rem 0rem var(--p-color-bg-surface-secondary-active) inset, 0.0625rem 0rem 0rem 0rem var(--p-color-bg-surface-secondary-active) inset, 0rem -0.0625rem 0rem 0rem var(--p-color-bg-fill-selected) inset;
        --p-shadow-button-inset: -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, .122) inset, 0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, .122) inset, 0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, .2) inset;
        --p-shadow-button-primary: 0rem -0.0625rem 0rem 0.0625rem rgba(0, 0, 0, .8) inset, 0rem 0rem 0rem 0.0625rem var(--p-color-bg-surface-inverse) inset, 0rem 0.03125rem 0rem 0.09375rem hsla(0, 0%, 100%, .25) inset;
        --p-shadow-button-primary-hover: 0rem 0.0625rem 0rem 0rem hsla(0, 0%, 100%, .24) inset, 0.0625rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, -0.0625rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, 0rem -0.0625rem 0rem 0rem #000 inset, 0rem -0.0625rem 0rem 0.0625rem var(--p-color-bg-inverse);
        --p-shadow-button-primary-inset: 0rem 0.1875rem 0rem 0rem #000 inset;
        --p-shadow-button-primary-critical: 0rem -0.0625rem 0rem 0.0625rem rgba(142, 31, 11, .8) inset, 0rem 0rem 0rem 0.0625rem rgba(181, 38, 11, .8) inset, 0rem 0.03125rem 0rem 0.09375rem hsla(0, 0%, 100%, .349) inset;
        --p-shadow-button-primary-critical-hover: 0rem 0.0625rem 0rem 0rem hsla(0, 0%, 100%, .48) inset, 0.0625rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, -0.0625rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, 0rem -0.09375rem 0rem 0rem rgba(0, 0, 0, .25) inset;
        --p-shadow-button-primary-critical-inset: -0.0625rem 0rem 0.0625rem 0rem rgba(0, 0, 0, .2) inset, 0.0625rem 0rem 0.0625rem 0rem rgba(0, 0, 0, .2) inset, 0rem 0.125rem 0rem 0rem rgba(0, 0, 0, .6) inset;
        --p-shadow-button-primary-success: 0rem -0.0625rem 0rem 0.0625rem rgba(12, 81, 50, .8) inset, 0rem 0rem 0rem 0.0625rem rgba(19, 111, 69, .8) inset, 0rem 0.03125rem 0rem 0.09375rem hsla(0, 0%, 100%, .251) inset;
        --p-shadow-button-primary-success-hover: 0rem 0.0625rem 0rem 0rem hsla(0, 0%, 100%, .48) inset, 0.0625rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, -0.0625rem 0rem 0rem 0rem hsla(0, 0%, 100%, .2) inset, 0rem -0.09375rem 0rem 0rem rgba(0, 0, 0, .25) inset;
        --p-shadow-button-primary-success-inset: -0.0625rem 0rem 0.0625rem 0rem rgba(0, 0, 0, .2) inset, 0.0625rem 0rem 0.0625rem 0rem rgba(0, 0, 0, .2) inset, 0rem 0.125rem 0rem 0rem rgba(0, 0, 0, .6) inset;
        --p-shadow-border-inset: 0rem 0rem 0rem 0.0625rem var(--p-color-bg-fill-transparent-active) inset;


        /**
         * @tokens Spacing
         * @presenter Spacing
        */
        --p-space-0: 0rem;
        --p-space-025: 0.0625rem;
        --p-space-050: 0.125rem;
        --p-space-100: 0.25rem;
        --p-space-150: 0.375rem;
        --p-space-200: 0.5rem;
        --p-space-300: 0.75rem;
        --p-space-400: 1rem;
        --p-space-500: 1.25rem;
        --p-space-600: 1.5rem;
        --p-space-800: 2rem;
        --p-space-1000: 2.5rem;
        --p-space-1200: 3rem;
        --p-space-1600: 4rem;
        --p-space-2000: 5rem;
        --p-space-2400: 6rem;
        --p-space-2800: 7rem;
        --p-space-3200: 8rem;
        --p-space-button-group-gap: var(--p-space-200);
        --p-space-card-gap: var(--p-space-400);
        --p-space-card-padding: var(--p-space-400);
        --p-space-table-cell-padding: var(--p-space-150);


        /*!***/
        /* * @tokens Width*/
        /* * @presenter Width*/
        /**!*/
        --p-width-0: 0rem;
        --p-width-025: 0.0625rem;
        --p-width-050: 0.125rem;
        --p-width-100: 0.25rem;
        --p-width-150: 0.375rem;
        --p-width-200: 0.5rem;
        --p-width-300: 0.75rem;
        --p-width-400: 1rem;
        --p-width-500: 1.25rem;
        --p-width-600: 1.5rem;
        --p-width-700: 1.75rem;
        --p-width-800: 2rem;
        --p-width-900: 2.25rem;
        --p-width-1000: 2.5rem;
        --p-width-1200: 3rem;
        --p-width-1600: 4rem;
        --p-width-2000: 5rem;
        --p-width-2400: 6rem;
        --p-width-2800: 7rem;
        --p-width-3200: 8rem;


        /*!***/
        /* * @tokens ZIndex */
        /* * @presenter ZIndex*/
        /**!*/
        --p-z-index-0: auto;
        --p-z-index-1: 100;
        --p-z-index-2: 400;
        --p-z-index-3: 510;
        --p-z-index-4: 512;
        --p-z-index-5: 513;
        --p-z-index-6: 514;
        --p-z-index-7: 515;
        --p-z-index-8: 516;
        --p-z-index-9: 517;
        --p-z-index-10: 518;
        --p-z-index-11: 519;
        --p-z-index-12: 520;

        /**
         * @tokens Animation
         * @presenter Animation
        */
        --p-motion-duration-0: 0ms;
        --p-motion-duration-50: 50ms;
        --p-motion-duration-100: 100ms;
        --p-motion-duration-150: 150ms;
        --p-motion-duration-200: 200ms;
        --p-motion-duration-250: 250ms;
        --p-motion-duration-300: 300ms;
        --p-motion-duration-350: 350ms;
        --p-motion-duration-400: 400ms;
        --p-motion-duration-450: 450ms;
        --p-motion-duration-500: 500ms;
        --p-motion-duration-5000: 5000ms;
        --p-motion-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
        --p-motion-ease-in: cubic-bezier(0.42, 0, 1, 1);
        --p-motion-ease-out: cubic-bezier(0.19, 0.91, 0.38, 1);
        --p-motion-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
        --p-motion-linear: cubic-bezier(0, 0, 1, 1);
        --p-motion-keyframes-bounce: p-motion-keyframes-bounce;
        --p-motion-keyframes-fade-in: p-motion-keyframes-fade-in;
        --p-motion-keyframes-pulse: p-motion-keyframes-pulse;
        --p-motion-keyframes-spin: p-motion-keyframes-spin;
        --p-motion-keyframes-appear-above: p-motion-keyframes-appear-above;
        --p-motion-keyframes-appear-below: p-motion-keyframes-appear-below;
        --p-motion-keyframes-bounce: {
            from,
            65%,
            85% {
                transform: scale(1);
            }
            75% {
                transform: scale(0.85);
            }
            82.5% {
                transform: scale(1.05);
            }
        };

        --p-motion-keyframes-fade-in: {
            to {
                opacity: 1;
            }
        };

        --p-motion-keyframes-pulse: {
            from,
            75% {
                transform: scale(0.85);
                opacity: 1;
            }
            to {
                transform: scale(2.5);
                opacity: 0;
            }
        };

        --p-motion-keyframes-spin: {
            to {
                transform: rotate(1turn);
            }
        };

        --p-motion-keyframes-appear-above: {
            from {
                transform: translateY(var(--p-space-100));
                opacity: 0;
            }
            to {
                transform: none;
                opacity: 1;
            }
        };

        --p-motion-keyframes-appear-below: {
            from {
                transform: translateY(calc(var(--p-space-100) * -1));
                opacity: 0;
            }
            to {
                transform: none;
                opacity: 1;
            }
        };
        /**
         * @tokens-end
        */
    }

    .dark {
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply font-sans;
    }
}

/* Storybook Styles ONLY: DO NOT DELETE */
.css-6z0e3u {
    @apply !h-auto;
}

.sbdocs-content {
    @apply mx-auto !max-w-[1920px];
}

/* End Storybook Styles */
